<%- model_class = Route -%>

<div class="span9">
  <div id="map-container" data-route="<%=@route.points%>">  
    <div id="map-canvas"></div>
  </div>

  <p>Feeling lazy? Download the Dublin Bus app here<br>
    <a href="http://www.dublinbus.ie/" target="_blank">
      <img src='http://bicyclebuddy-193553.euw1-2.nitrousbox.com/assets/dublin-bus-logo.jpg' width="80" height="40">
    </a>    
  </p>
  
  <%= render 'comments/form', comment: Comment.new %>

  <table class="table table-striped">
  <% @route.comments.order('created_at DESC').each do |comment| %>
    <tr>
      <td>
        <div>
          <p><%= comment.comment %></p>
          <strong><%= comment.user.email %></strong><br>
          <span><%= comment.created_at.strftime("%d/%m/%Y") %></span>   
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            comment_path(comment),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", 
              :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger' %>
        </div>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<div class="span3 routes-sidebar">
  <table class="route-info">  
    <tbody>
      <tr>
        <td class="route-name"><%= @route.name %></td>
        <td rowspan="2">
          <% user_favourite = Favourite.where(user_id: current_user.id, route_id: @route.id).first %>
          <% if (user_favourite.present?) %>
          <%= link_to '<span class="icon-star icon-large active"></span>'.html_safe, user_favourite, method: :delete, class: "favourite"%>
          <% else %>
            <%= form_for(Favourite.new) do |f| %>
              <%= f.hidden_field :route_id, value: @route.id %> 
              <%= f.button do %>
                <span class="icon-star icon-large"></span>
              <% end %>
            <% end %>
          <% end %>
          <%= Favourite.where(route_id: @route.id).count %>          
        </td>
      </tr>
      <tr>
        <td class="category-name"><strong><%= @route.category.name %></strong></td>
      </tr>
      <tr class="against-the-wind">
        <td colspan="2">Against the wind for <span class="figure"><%= @against_the_wind %> %</span> of your trip </td>
      </tr>      
    </tbody>
  </table>


  <%= render 'list' %>
</div>


  
    
</div>


